@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap);

//font variables
$font__mont: 'Montserrat', sans-serif;
$font__play: 'Playfair Display', serif;

$font__regular: 400;
$font__medium: 500;
$font__bold: 700;

$font__normal: normal;
$font__italic: italic;

//colors
$color__white: #FFFFFF;
$color__black: #000000;
$color__gray: #4F4F4F;
$color__lightGray: #BDBDBD;
$color__orange: #F2994A;
